body{ font-family:"宋体"; font-size:12px; color:#666; line-height:25px; margin:0 auto; background:url(../img/body-background.jpeg) 0 -10px repeat-x;}
#layout {width:930px; margin:0 auto; }
a { color:#666; text-decoration:none; border:none }
a:hover { color:#F60; }
#logo{ height:80px;}
#dh{ width:652px; float:left;height:50px; margin:10px 0; }
#dh ul { height:40px;margin:0;padding:0 0 0 30px; }
#dh li { width:103px; float:left; display:block; line-height:40px; text-align:center; height:40px; list-style:none; font-weight:bold; }
#banner{ clear:both;height:250px;}
#sousuo{ clear:both; overflow:hidden; }
#sousuo p { text-indent:2em; margin:0; padding:0; }
#sousuo ol { text-align:center; padding:0; margin:0; }
#sousuo ol li { display:inline-block; margin:0 5px; width:200px; height:150px; list-style:none; }
#sousuo h2 { background-color:#0295db; } 
#sousuo h3 { background:url(../img/div-background.jpeg) 0 0 no-repeat; height:45px; font-size:14px; margin:10px 0; display:inline-block; width:100%; position:relative; } 
#sousuo .pic { overflow:hidden; margin: 10px 0; display:block; }
#sousuo h3 label { z-index:1; position:absolute; left:40px; top:8px; } 
#sousuo h3 span {  z-index:1; position:absolute; right:40px; top:8px; }  
#sousuo a, 
#sousuo label { color:#fff; } 
#sousuo a { font-size:14px; } 
#sousuo a:hover { color:#F60; } 
#sousuo div { display:inline-block; vertical-align:top; }
#sousuo .jianjie { width:560px; margin-right:10px; }
#sousuo .lianxi { width:350px; }
#sousuo ul { margin:0 30px; padding:0; } 
#sousuo ul li { list-style:none; }
#more  { position:relative; }
#more #sousuo h3 { margin-bottom:0; }
#more #sousuo ol { text-align:left; }
#detail {  z-index:2; position:absolute; left:0; top:1; width:100%; height:2000px; padding-top:50px; background-color:rgba(0,0,0,0.8) }
.content { margin:0px auto; background:#fff; width:600px; height:400x; display:inline-block; *display:inline; zoom:1; text-align:center; padding:20px;  }
#mainbox { text-align:center; width:100%; position:absolute; left:0; top:100px;  }
#close { vertical-align:top;  width:40px; height:40px; display:inline-block; *display:inline; zoom:1; background:#333 url(../img/close.png) no-repeat 14px 14px; }
